<!DOCTYPE html>

<html>
  <head>

    <title></title>

    <style>
      .center {
	  margin: 0 auto;
	  width: 50%;
	  padding-top: 10vh;
	  text-align: center;
      }
    </style>

    
  </head>

  <body>
    <div class="center">
      <h2>TorScout</h2>
      <form method="get" action="/search">
	<input type="input" name="q" placeholder="search..."/>
	<input type="submit" value="Go"/>
      </form>
      <br/>
      <br/>
      <a href="/explore">Or, explore all indexed sites</a>
    </div>
  </body>

</html>
